// Font-family
$heading: "Raleway", sans-serif;
$body: "Roboto", sans-serif;

// Title Color
$title-color: #ffffff;

// Essential Colors
$base-color: #F23935;
$base-color: #1f71fd;
$base-color: #4169E1;
$base-color: #03B4ED;

$accent-color: #160c66;

$body-color: rgb(214, 222, 233);
$border-color: rgba(255, 255, 255, 0.2);

$body-bg: #4c11b8;
$section-bg: #410ca1;

// $body-bg: #440ea7;
// $section-bg: #36098a;

$white: #fff;

$theme-one: #ff3653;
$theme-two: #18d39e;
$theme-three: #0c93d2;
$theme-four: #f6a200;
$theme-five: #09389e;

// color variable for Bootstrap
$primary: #7367f0;
$secondary: #868e96;
$success: #28c76f;
$danger: #ea5455;
$warning: #ff9f43;
$info: #1e9ff2;
$dark: #082032;
$light: #bcc7da;
$muted: #999a9e;
