@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #d6dee9;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    background: #4c11b8;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #d6dee9;
}

a:hover {
    color: #00e0b8;
}

span,
sub,
sup,
a {
    display: inline-block;
}

/* global css strat */
.text--primary {
    color: #7367f0 !important;
}

.text--secondary {
    color: #868e96 !important;
}

.text--success {
    color: #28c76f !important;
}

.text--danger {
    color: #ea5455 !important;
}

.text--warning {
    color: #ff9f43 !important;
}

.text--info {
    color: #1e9ff2 !important;
}

.text--dark {
    color: #082032 !important;
}

.text--muted {
    color: #999a9e !important;
}

.text--base {
    color: #00e0b8 !important;
}

.text--dark {
    color: #ffffff !important;
}

/* background color css start */
.bg--primary {
    background-color: #7367f0 !important;
}

.bg--secondary {
    background-color: #868e96 !important;
}

.bg--success {
    background-color: #28c76f !important;
}

.bg--danger {
    background-color: #ea5455 !important;
}

.bg--warning {
    background-color: #ff9f43 !important;
}

.bg--info {
    background-color: #1e9ff2 !important;
}

.bg--dark {
    background-color: #082032 !important;
}

.bg--light {
    background-color: #bcc7da !important;
}

.bg--base {
    background-color: #00e0b8 !important;
}

.bg--section {
    background-color: #410ca1 !important;
}

.bg--body {
    background-color: #4c11b8 !important;
}

/* background color css end */
.theme-one {
    color: #ff3653 !important;
}

.theme-one-bg {
    background: #ff3653 !important;
}

.theme-two {
    color: #18d39e !important;
}

.theme-two-bg {
    background: #18d39e !important;
}

.theme-three {
    color: #0c93d2 !important;
}

.theme-three-bg {
    background: #0c93d2 !important;
}

.theme-four {
    color: #f6a200 !important;
}

.theme-four-bg {
    background: #f6a200 !important;
}

.bg_img {
    background-position: center;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.bg_fixed {
    background-attachment: fixed !important;
}

a.text-white:hover {
    color: #00e0b8 !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -999;
}

.overlay.active {
    z-index: 111;
}

.pt-120 {
    padding-top: clamp(60px, 6vw, 120px);
}

.pt-100 {
    padding-top: clamp(50px, 6vw, 100px);
}

.pt-80 {
    padding-top: clamp(40px, 6vw, 80px);
}

.pt-60 {
    padding-top: clamp(30px, 6vw, 60px);
}

.pt-50 {
    padding-top: clamp(25px, 6vw, 50px);
}

.pb-120 {
    padding-bottom: clamp(60px, 6vw, 120px);
}

.pb-100 {
    padding-bottom: clamp(50px, 6vw, 100px);
}

.pb-80 {
    padding-bottom: clamp(40px, 6vw, 80px);
}

.pb-60 {
    padding-bottom: clamp(30px, 6vw, 60px);
}

.pb-50 {
    padding-bottom: clamp(25px, 6vw, 50px);
}

.pagination, .social-links, .header-bottom-area, .menu, .feature-wrapper, .feature-item {
    display: flex;
    flex-wrap: wrap;
}

.video-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.video-button::before, .video-button::after, .section-header__title span::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
}

a, .btn,
.cmn--btn, .custom--checkbox label::before, .header, .header-trigger span::after, .header-trigger span::before {
    transition: all 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;
    line-height: 1.3;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    word-break: break-word;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    color: #ffffff;
    word-break: break-word;
}

h1 {
    font-size: 64px;
}

@media (max-width: 1199px) {
    h1 {
        font-size: 50px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 48px;
    }
}

@media (max-width: 575px) {
    h1 {
        font-size: 36px;
    }
}

h2 {
    font-size: 48px;
}

@media (max-width: 1199px) {
    h2 {
        font-size: 42px;
    }
}

@media (max-width: 767px) {
    h2 {
        font-size: 36px;
    }
}

@media (max-width: 575px) {
    h2 {
        font-size: 32px;
    }
}

h3 {
    font-size: clamp(22px, 5vw, 30px);
}

h4 {
    font-size: 24px;
    font-weight: 500;
}

@media (max-width: 1399px) {
    h4 {
        font-size: 23px;
    }
}

@media (max-width: 450px) {
    h4 {
        font-size: 20px;
    }
}

h5 {
    font-size: 20px;
    font-weight: 500;
}

h6 {
    font-size: 1.125rem;
    font-weight: 500;
}

.fw-medium {
    font-weight: 500 !important;
}

.btn,
.cmn--btn {
    color: #082032;
    padding: 12px 35px;
    font-size: 19px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    z-index: 1;
    border: 0;
}

@media (max-width: 1199px) {
    .btn,
  .cmn--btn {
        font-size: 18px;
    }
}

.btn:hover,
.cmn--btn:hover {
    color: #082032;
}

.btn.btn--lg,
.cmn--btn.btn--lg {
    padding: 13px 35px !important;
    font-size: 24px;
}

@media (max-width: 991px) {
    .btn.btn--lg,
  .cmn--btn.btn--lg {
        font-size: 22px;
    }
}

@media (max-width: 575px) {
    .btn.btn--lg,
  .cmn--btn.btn--lg {
        font-size: 20px;
    }
}

.btn.btn--md,
.cmn--btn.btn--md {
    padding: 10px 25px !important;
    font-size: 15px;
}

.btn.btn--sm,
.cmn--btn.btn--sm {
    padding: 5px 15px !important;
    font-size: 14px;
}

.btn.btn--xs,
.cmn--btn.btn--xs {
    padding: 0px 10px !important;
    font-size: 13px;
}

.video-button {
    width: 60px;
    aspect-ratio: 1;
    font-size: 24px;
    position: relative;
    background: #00e0b8;
    border-radius: 20px 0 20px 0;
}

.video-button::before, .video-button::after {
    left: 50%;
    top: 50%;
    background: #00e0b8;
    border-radius: 20px 0 20px 0;
    animation: play-button 2s linear infinite;
}

.video-button::after {
    animation-delay: 0.8s;
}

.video-button i {
    position: relative;
    z-index: 1;
    color: #fff;
}

.btn--primary {
    background-color: #7367f0;
    border: 1px solid #7367f0;
    color: #fff;
}

.btn--secondary {
    background-color: #868e96;
    border: 1px solid #868e96;
    color: #fff;
}

.btn--success {
    background-color: #28c76f;
    border: 1px solid #28c76f;
    color: #fff;
}

.btn--danger {
    background-color: #ea5455;
    border: 1px solid #ea5455;
    color: #fff;
}

.btn--warning {
    background-color: #ff9f43;
    border: 1px solid #ff9f43;
    color: #fff;
}

.btn--info {
    background-color: #1e9ff2;
    border: 1px solid #1e9ff2;
    color: #fff;
}

.btn--light {
    background-color: #bcc7da;
    border: 1px solid #bcc7da;
    color: #fff;
}

.btn--dark {
    background-color: #082032;
    border: 1px solid #082032;
    color: #fff;
}

.btn--base {
    background-color: #00e0b8;
    border: 1px solid #00e0b8;
    color: #fff;
}

.badge--primary {
    background-color: rgba(115, 103, 240, 0.15);
    border: 1px solid #7367f0;
    color: #7367f0;
}

.badge--secondary {
    background-color: rgba(134, 142, 150, 0.15);
    border: 1px solid #868e96;
    color: #868e96;
}

.badge--success {
    background-color: rgba(40, 199, 111, 0.15);
    border: 1px solid #28c76f;
    color: #28c76f;
}

.badge--danger {
    background-color: rgba(234, 84, 85, 0.15);
    border: 1px solid #ea5455;
    color: #ea5455;
}

.badge--warning {
    background-color: rgba(255, 159, 67, 0.15);
    border: 1px solid #ff9f43;
    color: #ff9f43;
}

.badge--info {
    background-color: rgba(30, 159, 242, 0.15);
    border: 1px solid #1e9ff2;
    color: #1e9ff2;
}

.badge--light {
    background-color: rgba(188, 199, 218, 0.15);
    border: 1px solid #bcc7da;
    color: #bcc7da;
}

.badge--dark {
    background-color: rgba(8, 32, 50, 0.15);
    border: 1px solid #082032;
    color: #082032;
}

.badge--base {
    background-color: rgba(0, 224, 184, 0.15);
    border: 1px solid #00e0b8;
    color: #00e0b8;
}

@media (max-width: 767px) {
    .table--responsive--md thead {
        display: none;
    }

    .table--responsive--md tbody tr {
        display: block;
    }

    .table--responsive--md tbody tr td {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}

@media (max-width: 767px) and (max-width: 991px) {
    .table--responsive--md tbody tr td {
        font-size: 14px !important;
    }
}

@media (max-width: 767px) {
    .table--responsive--md tbody tr td:last-child {
        border: none;
    }

    .table--responsive--md tbody tr td::before {
        content: attr(data-label);
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        color: #ffffff;
        font-weight: 500;
    }
}

@media (max-width: 767px) and (max-width: 575px) {
    .table--responsive--md tbody tr td::before {
        font-size: 15px;
    }
}

@media (max-width: 991px) {
    .table--responsive--lg thead {
        display: none;
    }

    .table--responsive--lg tbody tr {
        display: block;
    }

    .table--responsive--lg tbody tr td {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}

@media (max-width: 991px) and (max-width: 991px) {
    .table--responsive--lg tbody tr td {
        font-size: 14px !important;
    }
}

@media (max-width: 991px) {
    .table--responsive--lg tbody tr td:last-child {
        border: none;
    }

    .table--responsive--lg tbody tr td::before {
        content: attr(data-label);
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        color: #ffffff;
        font-weight: 500;
    }
}

@media (max-width: 991px) and (max-width: 575px) {
    .table--responsive--lg tbody tr td::before {
        font-size: 15px;
    }
}

@media (max-width: 1199px) {
    .table--responsive--xl thead {
        display: none;
    }

    .table--responsive--xl tbody tr {
        display: block;
    }

    .table--responsive--xl tbody tr td {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}

@media (max-width: 1199px) and (max-width: 991px) {
    .table--responsive--xl tbody tr td {
        font-size: 14px !important;
    }
}

@media (max-width: 1199px) {
    .table--responsive--xl tbody tr td:last-child {
        border: none;
    }

    .table--responsive--xl tbody tr td::before {
        content: attr(data-label);
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        color: #ffffff;
        font-weight: 500;
    }
}

@media (max-width: 1199px) and (max-width: 575px) {
    .table--responsive--xl tbody tr td::before {
        font-size: 15px;
    }
}

.table {
    margin: 0;
    border: none;
    width: 100%;
    border-collapse: collapse;
}

.table thead tr th {
    padding: 10px 15px;
    font-family: "Raleway", sans-serif;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.table tbody {
    font-size: 15px;
}

.table tbody tr:nth-child(odd) {
    background: #410ca1;
}

.table tbody tr td {
    color: #fff;
    vertical-align: middle;
    padding: 10px 15px;
    border-width: 1px;
}

@media (min-width: 992px) {
    .table tbody tr td {
        border-color: rgba(255, 255, 255, 0.2);
    }
}

.form-label {
    font-size: 15px;
}

.form--control {
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgba(0, 224, 184, 0.3);
    outline: 0;
    box-shadow: none;
    color: #082032;
    background-color: #fff;
}

.form--control:focus {
    border: 1px solid #00e0b8;
    outline: 0;
    box-shadow: none;
}

.border--round {
    border-radius: 35px;
}

.form--control.form--dark {
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    outline: 0;
    box-shadow: none;
    color: #fff;
    background-color: #410ca1;
}

.form--control.form--dark:focus {
    border: 1px solid #00e0b8;
    outline: 0;
    box-shadow: none;
}

.form--control[type="file"] {
    line-height: 25px;
    padding: 12px 25px;
}

.form--control[readonly] {
    background: rgba(115, 103, 240, 0.05) !important;
}

.form--control[readonly]:focus {
    border-color: rgba(255, 255, 255, 0.2);
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}

select.style--dark option {
    color: #363636;
}

.input-group > .form--control,
.input-group > .select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.input-group select {
    background-color: transparent;
    border: none;
}

.custom--radio {
    position: relative;
    padding-left: 0;
}

.custom--radio input[type="radio"] {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    cursor: pointer;
}

.custom--radio input[type="radio"]:checked ~ label::before {
    border-width: 2px;
    border-color: #00e0b8;
}

.custom--radio input[type="radio"]:checked ~ label::after {
    opacity: 1;
}

.custom--radio label {
    margin-bottom: 0;
    position: relative;
    padding-left: 20px;
    font-size: 0.875rem;
    font-weight: 400;
}

.custom--radio label::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #888888;
}

.custom--radio label::after {
    position: absolute;
    content: "";
    top: 8px;
    left: 4px;
    width: 7px;
    height: 7px;
    background-color: #00e0b8;
    opacity: 0;
}

.custom--checkbox {
    padding-left: 1.5625rem;
}

.custom--checkbox input {
    display: none;
}

.custom--checkbox input:checked ~ label::before {
    content: "\f14a";
    color: #00e0b8;
}

.custom--checkbox label {
    position: relative;
    font-size: 0.9375rem;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 0;
}

.custom--checkbox label::before {
    position: absolute;
    content: "\f04d";
    font-family: "Line Awesome Free";
    font-weight: 900;
    top: 3px;
    left: -1.5625rem;
    font-size: 1.25rem;
    line-height: 1;
}

/* form css end*/
.custom--card {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    background: #4c11b8;
}

.custom--card .card--header,
.custom--card .card--footer {
    background: #410ca1;
    color: #082032;
    text-align: center;
}

.custom--card .card--header .card-title,
.custom--card .card--footer .card-title {
    color: #fff;
    margin: 0;
}

.custom--card.card--primary .card--header,
.custom--card.card--primary .card--footer {
    background: #7367f0;
}

.custom--card.card--base .card--header,
.custom--card.card--base .card--footer {
    background: #00e0b8;
}

.custom--card .card--header,
.custom--card .card--footer {
    padding: 15px 25px;
    border-color: rgba(255, 255, 255, 0.2) !important;
}

@media (max-width: 575px) {
    .custom--card .card--header,
  .custom--card .card--footer {
        padding: 10px 20px;
    }
}

@media (max-width: 575px) {
    .custom--card .card--header,
  .custom--card .card--footer {
        padding: 8px 15px;
    }
}

.custom--card .card--body {
    padding: 25px;
}

@media (max-width: 575px) {
    .custom--card .card--body {
        padding: 20px;
    }
}

@media (max-width: 450px) {
    .custom--card .card--body {
        padding: 15px;
    }
}

.custom--card.card--lg .card--header,
.custom--card.card--lg .card--footer {
    padding: 20px 35px;
}

@media (max-width: 767px) {
    .custom--card.card--lg .card--header,
  .custom--card.card--lg .card--footer {
        padding: 15px 25px;
    }
}

@media (max-width: 575px) {
    .custom--card.card--lg .card--header,
  .custom--card.card--lg .card--footer {
        padding: 10px 20px;
    }
}

@media (max-width: 450px) {
    .custom--card.card--lg .card--header,
  .custom--card.card--lg .card--footer {
        padding: 8px 15px;
    }
}

.custom--card.card--lg .card--body {
    padding: 35px;
}

@media (max-width: 767px) {
    .custom--card.card--lg .card--body {
        padding: 25px;
    }
}

@media (max-width: 575px) {
    .custom--card.card--lg .card--body {
        padding: 20px;
    }
}

@media (max-width: 450px) {
    .custom--card.card--lg .card--body {
        padding: 15px;
    }
}

.custom--card.card--md .card--header,
.custom--card.card--md .card--footer {
    padding: 10px 20px;
}

.custom--card.card--md .card--body {
    padding: 20px 20px;
}

.custom--modal .modal--footer,
.custom--modal .modal--body,
.custom--modal .modal--header {
    border-color: rgba(255, 255, 255, 0.2);
    background: #410ca1;
    border-color: rgba(255, 255, 255, 0.2) !important;
}

.custom--modal .modal--footer .modal-title,
.custom--modal .modal--header .modal-title {
    margin: 0;
    color: #ffffff;
}

.custom--modal .modal--footer .btn-close,
.custom--modal .modal--header .btn-close {
    background: transparent;
    font-size: 20px;
    line-height: 1;
    color: #ea5455;
    opacity: 1;
}

.custom--modal .modal-content {
    border: none;
    color: #fff;
    background: #410ca1;
}

.pagination {
    margin: 0;
    margin-top: 55px;
    justify-content: center;
}

@media (max-width: 575px) {
    .pagination {
        margin-top: 30px;
    }
}

.pagination .page-item {
    text-align: center;
    padding: 3px;
}

.pagination .page-item a,
.pagination .page-item span {
    font-weight: 600;
    width: 45px;
    height: 45px;
    color: #00e0b8;
    line-height: 45px;
    padding: 0;
    border-radius: 50% !important;
    border-color: rgba(0, 224, 184, 0.1);
    background: #4c11b8;
    box-shadow: none;
    outline: 0;
}

.pagination .page-item span {
    border: none;
}

.pagination .page-item.active span,
.pagination .page-item.active a, .pagination .page-item:hover span,
.pagination .page-item:hover a {
    background: #00e0b8;
    color: #082032;
    border-color: #00e0b8;
}

.pagination .page-item.disabled {
    cursor: no-drop !important;
}

.pagination .page-item.disabled span,
.pagination .page-item.disabled a {
    background: rgba(255, 255, 255, 0.05);
    border: none;
    color: #ffffff;
}

.social-links {
    gap: 5px 12px;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 111;
    border-bottom: 1px solid transparent;
}

.header.sticky {
    background: #410ca1;
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgba(0, 224, 184, 0.1);
}

.header-bottom {
    width: 100%;
    padding: 20px 0;
}

@media (max-width: 991px) {
    .header-bottom {
        padding: 15px 0;
    }
}

.header-bottom-area {
    justify-content: space-between;
}

@media (max-width: 991px) {
    .header-bottom-area {
        justify-content: space-between;
    }
}

.logo img {
    max-width: 180px;
    max-height: 60px;
}

@media (max-width: 1199px) {
    .logo img {
        max-width: 160px;
    }
}

@media (max-width: 767px) {
    .logo img {
        max-width: 150px;
    }
}

@media (max-width: 575px) {
    .logo img {
        max-width: 100px;
        max-height: 50px;
    }
}

.menu {
    align-items: center;
    margin: 0;
    position: relative;
}

.menu > .has-sub-menu {
    margin-right: 20px;
}

@media (max-width: 1199px) {
    .menu > .has-sub-menu {
        margin-right: 18px;
    }
}

@media (min-width: 992px) {
    .menu > .has-sub-menu.open .sub-menu {
        display: block !important;
    }
}

.menu .sub-menu li {
    width: 100%;
}

@media (min-width: 992px) {
    .menu .sub-menu {
        display: block !important;
    }
}

.menu li {
    position: relative;
}

.menu li:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.menu li.has-sub-menu > a {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.menu li.has-sub-menu > a::after {
    position: absolute;
    font-weight: 900;
    font-size: 16px;
    font-family: "Line Awesome Free";
    content: "\f107";
    right: 0;
    top: 50%;
    transform: translate(8px, -50%);
    font-size: 14px;
}

.menu li a {
    display: block;
    padding: 4px 15px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #d6dee9;
    position: relative;
}

.menu li a .badge {
    position: absolute;
    font-weight: 600;
    top: -12px;
    right: -8px;
    font-size: 9px;
    color: #082032 !important;
    border-radius: 3px 3px 3px 0;
    line-height: 0.93;
    padding: 4px 5px 2px;
    z-index: 1;
}

.menu li a .badge::before {
    position: absolute;
    content: "";
    top: calc(100% - 1px);
    left: 0;
    background: #00e0b8;
    width: 8px;
    height: 5px;
    clip-path: polygon(0 100%, 0 0, 100% 0);
}

.menu .btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
}

@media (min-width: 992px) {
    .sub-menu {
        position: absolute;
        top: 100%;
        left: 0px;
        opacity: 0;
        visibility: hidden;
        min-width: 230px;
        transition: all ease 0.3s;
        transform: translateY(15px);
        box-shadow: 0 3px 12px 3px rgba(0, 224, 184, 0.1);
        overflow: hidden;
        z-index: 11;
        background: #4c11b8;
        border: 3px solid rgba(0, 224, 184, 0.6);
        padding: 10px;
    }

    .sub-menu li {
        padding: 0;
    }

    .sub-menu li:last-child {
        border: none;
    }

    .sub-menu li a {
        font-size: 14px;
        padding: 7px 15px;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-line-clamp: 1;
    }

    .sub-menu li a:hover {
        padding-left: 20px;
        background: #00e0b8;
        color: #082032;
    }

    .sub-menu:hover {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    .sub-menu .sub-menu {
        visibility: hidden;
        opacity: 0;
        top: 5px;
        left: -100%;
        transform: translateY(20px);
    }

    .sub-menu.has-sub-menu > a::after {
        transform: translate(-20px, -50%);
    }
}

@media (max-width: 991px) {
    .menu > li:nth-last-child(1) {
        border-bottom: none;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        padding: 50px 30px 50px;
        max-height: calc(100vh - 50px);
        min-width: 200px;
        width: 100%;
        visibility: hidden;
        transform-origin: top;
        transform: translateY(-100px) scaleY(0.6);
        opacity: 0;
        overflow-y: auto;
        transition: all ease 0.3s;
        background: #7367f0;
    }

    .menu.active {
        opacity: 1;
        transform: translateY(0) scaleY(1);
        visibility: visible;
        z-index: 999;
        top: 0px;
    }

    .menu .has-sub-menu {
        margin-right: 0;
    }

    .menu .has-sub-menu > a::after {
        transform: translate(-20px, -50%) !important;
    }

    .menu li {
        padding: 3px 0;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .menu li:nth-last-child(1) {
        border-bottom: none;
    }

    .menu li a {
        padding-left: 0;
        color: #fff;
    }

    .menu li.has-sub-menu a::after {
        transform: translate(-20px, -50%) !important;
    }

    .sub-menu {
        display: none;
        padding-left: 25px;
    }
}

.header-trigger {
    cursor: pointer;
    margin-top: -10px;
}

.header-trigger.active span {
    background: none !important;
}

.header-trigger.active span::before {
    transform: rotate(-45deg) translate(-11px, 0px);
    background: #fff;
}

.header-trigger.active span::after {
    transform: rotate(45deg) translate(-11px, 0px);
    background: #fff;
}

.header-trigger span {
    width: 25px;
    height: 2px;
    background: #00e0b8;
    position: relative;
    transition: all ease 0.3s;
}

.header-trigger span::after, .header-trigger span::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    background: #00e0b8;
}

.header-trigger span::after {
    bottom: -8px;
}

.header-trigger span::before {
    top: -8px;
}

.header-top {
    padding: 5px 0;
    background: #410ca1;
}

.header-contact {
    gap: 10px 20px;
}

.position-relative .container {
    position: relative;
    z-index: 1;
}

.banner-section {
    position: relative;
    padding: 200px 0;
}

@media (max-width: 1199px) {
    .banner-section {
        padding: 150px 0;
    }
}

@media (max-width: 767px) {
    .banner-section {
        padding: 100px 0;
    }
}

.banner-section .shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: .5;
}

.banner-section .shape img {
    width: 100%;
}

.banner-content {
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.banner-content .title {
    font-weight: 600;
}

.banner-content .banner-pera {
    font-size: 24px;
    font-weight: 300;
    max-width: 720px;
    margin: 0 auto;
    margin-top: 40px;
}

@media (max-width: 1199px) {
    .banner-content .banner-pera {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .banner-content .banner-pera {
        font-size: 20px;
        margin-top: 20px;
    }
}

@media (max-width: 575px) {
    .banner-content .banner-pera {
        margin-top: 20px;
    }
}

.banner-content .search-wrapper {
    max-width: 650px;
    margin: 0 auto;
}

.section-header {
    margin-bottom: 50px;
}

@media (max-width: 575px) {
    .section-header {
        margin-bottom: 40px;
    }
}

.section-header__title {
    margin-bottom: 15px;
}

.section-header__title span {
    position: relative;
}

.section-header__title span::before {
    bottom: 0;
    left: 0;
    background: #00e0b8;
    height: 2px;
}

.section-header p {
    font-size: 22px;
    font-weight: 300;
}

@media (max-width: 1199px) {
    .section-header p {
        font-size: 20px;
    }
}

@media (max-width: 575px) {
    .section-header p {
        font-size: 18px;
    }
}

.particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.rtl {
    direction: rtl;
}

.what-item {
    text-align: center;
    padding: 40px 20px;
    background: #4c11b8;
    box-shadow: 0 4px 12px 3px rgba(0, 224, 184, 0.3);
}

.what-item__icon {
    font-size: 48px;
    margin-bottom: 10px;
}

.what-item__content .title {
    margin-bottom: 15px;
}

.about-thumb {
    position: relative;
}

.about-thumb .shape {
    position: absolute;
    left: -50px;
    bottom: -50px;
    right: 50px;
    top: -30px;
    z-index: -1;
}

@media (max-width: 1199px) {
    .about-thumb .shape {
        left: -30px;
        bottom: -30px;
        top: 0;
    }
}

.about-thumb .shape img {
    width: 100%;
    height: 100%;
}

.about-thumb img {
    width: 100%;
}

.about-thumb .video-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.feature-wrapper {
    padding: 15px 20px;
    border-radius: 3px;
    background: #410ca1;
}

.feature-item {
    padding: 10px 5px;
}

@media (min-width: 576px) {
    .feature-item {
        width: 50%;
    }
}

.feature-item__icon {
    font-size: 20px;
    color: #00e0b8;
    line-height: 1.2;
    margin-right: 10px;
}

.feature-item .title {
    font-size: 17px;
}

@media (max-width: 1399px) {
    .feature-item .title {
        font-size: 16px;
    }
}

@media (max-width: 1399px) {
    .feature-item .title {
        font-size: 14px;
    }
}

/*# sourceMappingURL=main.css.map */
