.dashboard-sidebar {
    max-width: 300px;
    background-color: lighten($body-bg, 5%);
    min-height: 100vh;
}

.dashboard-sidebar-header {
    background-color: $section-bg;
}

.dashboard-widget {
    padding: 30px;
}
.user {
    text-align: center;
    .user-thumb {
        width: 80px;
        aspect-ratio: 1;
        margin: 0 auto 13px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}

.dashboard-menu {
    font-size: 17px;
    font-weight: 300;
    li {
        padding: 7px 0;
        &.has-submenu {
            position: relative;
            &::before {
                @include line-ico;
                content: "\f107";
                right: 0;
                top: 5px;
            }
        }
        a {
            display: block;
            i {
                margin-right: 7px;
                font-size: 20px;
            }
        }
    }
    .dashboard-submenu {
        padding: 5px 0;
        padding-left: 35px;
        font-size: 16px;
        display: none;
    }
}

.dashbaord-sidebar-body {
    height: 100%;
    background-color: lighten($body-bg, 5%);
}
