
.custom--modal .modal-footer,
.custom--modal .modal-body,
.custom--modal .modal-header {
    background: $body-bg;
    border-color: $border-color !important;
}
.custom--modal .modal-body {
    background: $section-bg;
}

.custom--modal .modal-footer .modal-title,
.custom--modal .modal-header .modal-title {
    margin: 0;
    color: $title-color;
}
